@using System.Activities.Statements
@using ArtsCenterEventCalendar.Models
@model IEnumerable<Performance>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="custom-control-inline">Denver Area Performances</h1>

<p class="custom-control-inline float-right">
    @Html.ActionLink("New Performance", "New", "Performances", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover table-responsive-lg table-striped table-dark" width="1000">
    <thead>
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Performer</th>
        <th scope="col">Type</th>
        @* <th scope="col">Genre</th> *@
        <th scope="col">Venue</th>
        <th scope="col">Location</th>
        <th scope="col">Price</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var performance in Model)
    {
        <tr class="table-active">
            <td>
                <div class="date">
                    <a href="#" class="date-btn">
                        <span class="binds"></span>
                        <span class="month">
                            @Convert.ToDateTime(performance.EventDateTime).ToString("MMM")
                        </span>
                        <h2 class="day">@Convert.ToDateTime(performance.EventDateTime).ToString("dd")</h2>
                    </a>
                </div>
            </td>
            <td>@performance.EventDateTime.ToShortTimeString()</td>
            <td>
                @Html.ActionLink(performance.Performer.Name, "Edit", "Performances", new {id = performance.Id}, null)
            </td>
            <td>@performance.Performer.PerformerType.Name</td>
            @* <td>Genre</td> *@
            <td>@performance.Venue.Name</td>
            <td>
                @performance.Venue.Address.City,
                @performance.Venue.Address.State
            </td>
            <td>$@performance.Price</td>
            @* will implement using JS in the future *@
            <td><button class="btn btn-sm btn-dark">Delete</button></td>
        </tr>
    }
    </tbody>
</table>
