@using ArtsCenterEventCalendar.Models
@model IEnumerable<Performance>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="custom-control-inline">Denver Area Performances</h1>

<p class="custom-control-inline float-right">
    @Html.ActionLink("New Performance", "New", "Performances", null, new { @class = "btn btn-primary btn-sm" })
</p>
<table class="table table-hover table-responsive-lg table-striped table-dark" id = "myTable">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Performer</th>
            <th scope="col">Genre/Topics</th>
            <th scope="col">Venue</th>
            <th scope="col">Location</th>
            <th scope="col">Price</th>
            <th scope="col">Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var performance in Model)
        {
            if (performance.IsActive == true)
            {
                var performer = performance.Performer;
                <tr class="table-active">
                    <td>
                        <div class="date">
                            <a href="#" class="date-btn">
                                <span class="binds"></span>
                                <span class="month">
                                    @Convert.ToDateTime(performance.EventDateTime).ToString("MMM")
                                </span>
                                <h2 class="day">@Convert.ToDateTime(performance.EventDateTime).ToString("dd")</h2>
                            </a>
                        </div>
                    </td>
                    <td>@performance.EventDateTime.ToShortTimeString()</td>
                    <td>

                        @performer.Name
                    </td>
                    <td>
                        @if (performer.GenreId != null)
                        {
                            @performer.Genre.Name
                        }
                        @if (performer.TopicId != null)
                        {
                            @performer.Topic.Name
                        }
                    </td>
                    <td>@performance.Venue.Name</td>
                    <td>
                        @performance.Venue.Address.City,
                        @performance.Venue.Address.State
                    </td>
                    <td>$@performance.Price</td>
                    @* will implement using JS in the future *@
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Performances", new {id = performance.Id},
                            new {@class = "btn btn-xs btn-secondary", @style = "display: inline;"})

                        @using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "__AjaxAntiForgeryForm"}))
                        {
                            @Html.ActionLink("Delete", "Delete", "Performances", null,
                                new
                                {
                                    data_performanceId = performance.Id, @class = "btn btn-xs btn-dark js-delete",
                                    @style = "display: inline;", @value = "Delete"
                                })
                            @Html.AntiForgeryToken()
                        }


                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#myTable");
            table.DataTable();

            table.on("click",
                ".js-delete",
                function() {
                    event.preventDefault();
                    var button = $(this);
                    var form = $(".__AjaxAntiForgeryForm");
                    var token = $("input[name='__RequestVerificationToken']", form).val();

                    bootbox.confirm("Are you sure you want to delete this customer?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/Performances/Delete/" + button.data("performanceid"),
                                    data: { __RequestVerificationToken: token },
                                    method: "DELETE",
                                    success: function() {
                                        button.closest("tr").remove().draw();
                                    }
                                });
                            };
                        });
                });
        });
    </script>
}
