@using ArtsCenterEventCalendar.Models
@model IEnumerable<ArtsCenterEventCalendar.Models.Venue>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="custom-control-inline">Denver Area Venues</h1>

<p class="custom-control-inline float-right">
    @Html.ActionLink("New Venue", "New", "Venues", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>List of Venues coming soon!</p>
}
else
{
    <table class="table table-hover table-responsive-lg table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Venue</th>
                <th scope="col">Capacity</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Zip</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var venue in Model)
            {
                var address = venue.Address;
                <tr class="table-active">
                    <td>
                        @Html.ActionLink(venue.Name, "Edit", "Venues", new { id = venue.Id }, null)
                    </td>
                    <td>@venue.Capacity</td>
                    <td>@address.StreetAddress</td>
                    <td>@address.City</td>
                    <td>@address.State</td>
                    <td>@address.ZipCode</td>
                </tr>
            }
        </tbody>
    </table>
}