@using ArtsCenterEventCalendar.Models
@model ArtsCenterEventCalendar.ViewModels.PerformanceFormViewModel
@{
    ViewBag.Title = "PerformanceForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add or Update Performance</h2>

@using (Html.BeginForm("Save", "Performance"))
{
    // Initial Error Message
     @Html.ValidationSummary(true, "Please fix the following errors:")

    // Performer
    <div class="form-group">
        @Html.LabelFor(m => m.Performance.Performer)
        @Html.DropDownListFor(m => m.Performance.Performer, new SelectList(Model.Performers, "Id", "Name"), "Select Performer", new { @class = "form-control col-md-6" })
        @Html.ValidationMessageFor(m => m.Performance.Performer)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Performance.Venue)
        @Html.DropDownListFor(m => m.Performance.Venue, new SelectList(Model.Venues, "Id", "Name"), "Select Venue", new { @class = "form-control col-md-6" })
        @Html.ValidationMessageFor(m => m.Performance.Venue)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Performance.EventDateTime)
        @* <div class="row"> *@
            @Html.TextBoxFor(m => m.Performance.EventDateTime, new { @class = "form-control col-md-6", @value = DateTime.Now })
            @Html.ValidationMessageFor(m => m.Performance.EventDateTime)
        @* </div> *@
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Performance.Price)
        @Html.TextBoxFor(m => m.Performance.Price, new { @class = "form-control col-md-6" })
        @Html.ValidationMessageFor(m => m.Performance.Price)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Performance.Description)
        @Html.TextAreaFor(m => m.Performance.Description, new { @class = "form-control col-md-6", rows = 10, placeholder = "Description of Performance (Optional)" })
        @Html.ValidationMessageFor(m => m.Performance.Description)
    </div>
    // Venue Seats Available will go here

    @Html.HiddenFor(m => m.Performance.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Submit</button>
}